body {
  font-family: "Tahoma";
  background: white;
  font-size: 11pt;
}

h1 {
  font-size: 20pt;
  text-align: center;
  color: "#504000";
}
h2 {
  font-size: 16pt;
  color: "#000040";
  text-align: center;
  background: #dddddd;
}
h3 {
  font-size: 16pt;
  color: "#000040";
  text-decoration: underline;
}
a:link, a:visited {
  color: #ff8040;
  text-decoration: none;
}
a:hover, a:active {
  color: red;
  text-decoration: underline;
}
li {
  list-style: square;
  margin: 0em 0em 0.5em 0em;
}
.navi {
  font-size: 10pt;
}

table {
  font-size: 11pt;
}

.abstract {
  font-size: 9pt;
}