body {
  background: white;
  margin: 3em 3em 3em 3em;
  width: 800px;
}

body, td, th, .normal {
  font-family: "맑은 고딕", "굴림", sans-serif;
  font-size: 10.5pt;
  line-height: 150%;
  font-weight: normal;
}

td, th {
  padding: 1pt 2pt;
  vertical-align: top;
}

p {
  text-align: justify;
}

pre {
  margin: 0 0 0 0;
  font-family: "돋움체", san-serif;
  font-size: 9pt;
  color: #000080;
}

h1 {
  font-size: 16pt;
  text-decoration: underline;
  margin: 20pt 0 8pt 0;
}
h2 {
  font-size: 13pt;
  text-decoration: underline;
}

a:link, a:visited {
  text-decoration: none;
}

ul {
  list-style: square;

}

.small {
  font-size: 8pt;
  text-decoration: none;
}

h1, h2, a:link, a:visited {
  color: #8a1e1e;
}
a:hover, a:active {
  background-color: #909090;
  color: black;
}
th {
  background: #f0f0f0;
}
